:root {
    --color-principal: #000000;
    --color-secundario: #F2E500;
    --color-tercero: #3B4970;


    --font-principal: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --font-parrafo:"classic-comic", sans-serif;
    --font-onomatopeya: "cc-smash", sans-serif;
    --font-botones: "cc-smash-open", sans-serif;

    --font-peso: 400;

    --size-bontones: 1rem;
    --size-onomatopeyas: 1.25rem;
    --size-títulos: 2.5rem;
    --size-párrafos: 1.125rem;
    --size-informacion: 1rem;
    --size-grandep: 1.25;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUNCIONES GENERALES */
/* FONDOS */
.fondofijo {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-image: url('../galeria/fondo/FONDO.png'); 
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.fondonegro {
    position: relative;
    z-index: 1; 
}

main > div {
    margin: 0vh 0vw;
    background: linear-gradient(var(--color-principal),var(--color-tercero), var(--color-principal));
}

/* SECCIÓN TIPOGRAFÍA */
.aheader {
    color: var(--color-tercero);
    font-size: var(--size-bontones);
    font-family: var(--font-principal);
}

.afooter {
    color: var(--color-tercero);
    font-size: var(--size-onomatopeyas);
    font-family: var(--font-principal);
    padding: 2vh 0vw;
}

.pfooter {
    color: var(--color-tercero);
    font-size: var(--size-informacion);
    font-family: var(--font-principal);
}

h1 {
    font-family: var(--font-onomatopeya);
    font-weight: var(--font-peso);
    font-size: var(--size-títulos);
}

.pinfo {
    font-size: var(--size-párrafos);
    font-family: var(--font-parrafo);
    font-weight: var(--font-peso);
}

.infop {
    font-size: 0.75rem;
    font-family: var(--font-parrafo);
    font-weight: 200;
}

span {
    font-size: 1.55rem;
    font-family: var(--font-parrafo);
    font-weight: 900;
}

.botonesA {
    font-family: var(--font-onomatopeya);
    font-weight: var(--font-peso);
    font-size: var(--size-onomatopeyas);
}

h2 {
    font-family: var(--font-onomatopeya);
    font-weight: var(--font-peso);
    font-size: var(--size-grandep)
}

/* GENERAL */
img {
    height: 15vh;
    width: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--color-tercero);
}

li {
  list-style: none;
}

/* HOVER */
a:hover {
    transform: scale(1.2);
}









/* HEADER */
/* BOTÓN HAMBURGUESA */
.hamburguesa {
    display: none !important;
}


header {
    margin: 0;
    padding: 2vh 10vw;
    box-sizing: border-box;
    background-color: var(--color-secundario);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    border-bottom: solid 7px #000000;
    z-index: 100; 
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonheader {
    
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1.25vw;
}

.logo {
    padding: 0vh 10vw 0vh 0vw;
    height: 5vh;
    width: auto;
}






/* SECCIÓN IMGÁGEN */
.principal {
    margin: 20vh 5vw 5vh 5vw;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 80vh;
    background: transparent;
}

.principalimg {
    height: 80vh;
    width: auto;
    transition: 0.4s;
}

.principalimg:hover {
    transform: rotate(-10deg) scale(1.1);
    transition: 0.4s;
    margin: 0 1vw 0 1vw;
}





/* SECCIÓN INFORMACIÓN */
.informacion {
    margin: 0;
    padding: 10vh 10vw;
    box-sizing: border-box;
    background-image: radial-gradient(var(--color-principal) 1.5px, transparent 1.5px);
    background-size: 22px 22px;
    border-left: solid 7px var(--color-principal);
    border-right: solid 7px var(--color-principal);
}

.informacion > :first-child > :first-child {
    margin: 0vh 30vw 0vh 20vw;
    padding: 1vh 1vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-secundario);
    display: flex;
    justify-content: center;
}

.informacion > :first-child > :last-child {
    margin: 2vh 20vw 5vh 35vw;
    padding: 1vh 1vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.informacion > :nth-child(2) {
    margin: 5vh 2vw 5vh 2vw;
    padding: 5vh 3vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-secundario);
    display: flex;
    justify-content: center;
}

.informacion > :last-child {
    margin: 0;
    padding: 10vh 0vw 0vh 0vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.entradaono {
    margin: 0vh 0vw 0vh 0vw;
    padding: 5vh 2vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-principal);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.7);
    color: var(--color-secundario);
}





/* SECCIÓN PATROCINADORES */
.patrocinadores {
    margin: 0;
    padding: 10vh 10vw 20vh 10vw;
    box-sizing: border-box;
    background-image: radial-gradient(var(--color-principal) 1.5px, transparent 1.5px);
    background-size: 22px 22px;
    border-left: solid 7px var(--color-principal);
    border-right: solid 7px var(--color-principal);
}

.patrocinadores > :first-child {
    margin: 5vh 2vw 5vh 40vw; 
    padding: 5vh 1vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-tercero);
    display: flex;
    justify-content: center;
    transform: skewX(-20deg) !important;
    color: var(--color-secundario);

}

.patrocinadores > :last-child {
    margin: 0vh 5vw;
    padding: 5vh 1vw 0vh 1vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}

.logopatro {
    margin: 0;
    padding: 1vh 2vw;
    box-sizing: border-box;
    border: solid 6px var(--color-principal);
    display: flex;
    background-color: var(--color-secundario);
    flex-direction: column;
    justify-content: left;
}

.logopatro > div {
    margin: 0;
    padding: 2vh 0vw;
    box-sizing: border-box;
}

.logopatro > div > h2 {
    margin: 0;
    padding: 0vh 0vw 1.5vh 0vw;
    box-sizing: border-box;
}

.imgpatro {
    height: 60vh;
    width: auto;
}





/* SECCIÓN GALERIA */
.galeria {
    margin: 0;
    padding: 3vh 10vw;
    box-sizing: border-box;
    background-image: radial-gradient(var(--color-principal) 1.5px, transparent 1.5px);
    background-size: 22px 22px;
    border-left: solid 7px var(--color-principal);
    border-right: solid 7px var(--color-principal);
}

.galeria > :first-child {
    margin: 5vh 2vw 5vh 50vw; 
    padding: 5vh 1vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-tercero);
    display: flex;
    justify-content: center;
    transform: skewX(-20deg) !important;
    color: var(--color-secundario);
}

.imggaleria {
    height: auto;
    width: 13.5vw;
    grid-area: 1 / 1;
}

.palabragal {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1;
    color: rgb(242, 229, 0, 0);
    background-color: rgb(0, 0, 0, 0);
    transition: 0.4s;
}

.comic {
    font-family: var(--font-botones);
    font-weight: var(--font-peso);
    font-size: var(--size-onomatopeyas);
}

.hoverimg {
    display: grid;
    place-items: center;
    transition: 0.4s;
}

.hoverimg:hover , .palabragal:hover {
    margin: 0vh 1vw;
    padding: 0;
    box-sizing: border-box;
    color: rgb(242, 229, 0, 1);
    background-color: rgb(0, 0, 0, 0.7);
    transition: background-color 0.8s;
}

.galeria > :nth-child(2) > nav {
    margin: 10vh 0vw;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria > :nth-child(2) > nav > li {
    margin: 2vh 0vw;
    padding: 0;
    box-sizing: border-box;
}

.activis {
    margin: 0vh 3vw;
    padding: 5vh 2vw;
    box-sizing: border-box;
    color: var(--color-secundario);
}






/* SECCION PARA ENTRADAS */
/* SECCION CABECERA */
.cabecera {
    margin: 0;
    padding:20vh 10vw 3vh 10vw;
    box-sizing: border-box;
    background-image: radial-gradient(var(--color-principal) 1.5px, transparent 1.5px);
    background-size: 22px 22px;
    border-left: solid 7px var(--color-principal);
    border-right: solid 7px var(--color-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}

.cabecera > :last-child > :first-child {
    margin: 0vh 10vw 2vh 8vw;
    padding: 1.25vh 1vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-secundario);
    display: flex;
    justify-content: center;
    transform: rotate(5deg);
}

.cabecera > :last-child > :nth-child(2) {
    margin: 0vh 23vw 2vh 0vw;
    padding: 2.25vh 1vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-secundario);
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.cabecera > :last-child > :last-child {
    margin: 0vh 6vw 0vh 6vw;
    padding: 1.25vh 1vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-secundario);
    display: flex;
    justify-content: center;
}

.principalimgB {
    height: 60vh;
    width: auto;
}





/* SECCION COMPRA */
.compra {
    margin: 0;
    padding: 10vh 10vw 20vh 10vw;
    box-sizing: border-box;
    background-image: radial-gradient(var(--color-principal) 1.5px, transparent 1.5px);
    background-size: 22px 22px;
    border-left: solid 7px var(--color-principal);
    border-right: solid 7px var(--color-principal);
}

.compra > :first-child {
    margin: 0;
    padding: 0vh 0vw 10vh 0vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.bloque > div {
    margin: 0;
    padding: 0vh 0vw 2vh 0vw;
    box-sizing: border-box;
}

.bloque__titulo {
    color: var(--color-secundario);
}

article {
    border: solid 7px var(--color-principal);
    background-color: var(--color-secundario);
    transform: skewX(-20deg) !important;
    color: var(--color-principal);
}

.entrada {
    margin: 3vh 0vw; 
    padding: 2vh 1vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.entrada > div > div {
    margin: 0; 
    padding: 0.55vh 0vw;
    box-sizing: border-box;
}

.entrada__controles {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--color-tercero);
}

.contador__boton {
    margin: 0; 
    padding: 0vh 1.5vw;
    box-sizing: border-box;
    background: var(--color-tercero);
    border: none;
    cursor: pointer;
    transition: background-color var(--color-tercero) ease;
}

.contador__boton:hover {
    background: var(--color-tercero);
}

.contador__boton:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    background: var(--color-tercero);
}

.bloque__nota {
    color: var(--color-secundario);
}

.resumen {
    margin: 0; 
    padding: 5vh 1vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-tercero);
    color: var(--color-secundario);
}








/* FOOTER */
.imgfooter{
    height: 4vh;
    width: auto;
}

.footerimg{
    height: auto;
    width: 4vw;
}

footer > :last-child {
    margin: 0vh 5vw 0vh 5vw;
    padding: 3vh 0vw;
    box-sizing: border-box;
    border-top: var(--color-tercero) solid 7px;
}

.entradafooter {
    transform: skewX(-20deg);
}

.entradafooter:hover {
    transform: skewX(-20deg) scale(1.2);
}

footer {
    margin: 0;
    padding: 2vh 5vw 0vh 5vw;
    box-sizing: border-box;
    background-color: var(--color-secundario);
}

footer > :first-child {
    margin: 0;
    padding: 0vh 5vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

footer > :first-child > :first-child > :first-child > li {
    margin: 0;
    padding: 2vh 0vw 4vh 0vw;
    box-sizing: border-box;
}

footer > :first-child > :first-child > :first-child > nav {
    display: flex;
    justify-content: left;
    gap: 2vw;
}

footer > :first-child > :first-child > :last-child {
    margin: 0;
    padding: 3vh 0vw 2vh 0vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}

footer > :first-child > :last-child {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > :first-child > :last-child > nav {
    margin: 0;
    padding: 2vh 0vw;
}

footer > :first-child > :last-child > :last-child {
    display: flex;
    justify-content: right;
    gap: 1vw;
}

footer > :first-child > :last-child > :last-child  > a{
   font-size: 1.5rem;
}




@media screen and (max-width:1024px) {
/* FUNCIONES GENERALES */
    img {
        height: 10vh;
        width: auto;
    }

    a {
        font-size: 1.7rem;
    }

    p {
        font-size: 1.2rem;
    }

    .onomatopeya {
        font-size: 2.5rem;
    }

/* .fondofijo {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-image: url('../galeria/fondo/FONDO.png'); 
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.fondonegro {
    position: relative;
    z-index: 1; 
} */





/* HEADER */
    header {
        padding: 2vh 3vw 4vh 3vw;
    }

    header > div > :nth-child(2) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 3vw;
    }

    .logo {
        height: 5vh;
        width: auto;
    }






/* SECCIÓN IMGÁGEN */
    .principal {
        height: 45vh;
    }

    .principalimg {
        height: 45vh;
    }





/* SECCIÓN INFORMACIÓN */
    .informacion {
        padding: 5vh 5vw;
    }

    .informacion > :first-child > :first-child {
        margin: 0vh 25vw 0vh 10vw;
        padding: 3vh 1vw;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }

    .informacion > :first-child > :last-child {
        margin: 2vh 10vw 2vh 35vw;
        padding: 3vh 4vw;
        box-sizing: border-box;
    }

    .informacion > :nth-child(2) {
        margin: 5vh 2vw 3vh 2vw;
        padding: 3vh 2vw;
        box-sizing: border-box;
    }

    .informacion > :last-child {
        margin: 3vh 0vw 0vh 0vw;
        padding: 5vh 5vw;
        box-sizing: border-box;
    }

    .entradaono {
        font-size: 3rem;
    }





/* SECCIÓN PATROCINADORES */
    .patrocinadores {
        margin: 0;
        padding: 3vh 3vw;
        box-sizing: border-box;
    }

    .patrocinadores > :first-child {
        margin: 3vh 7vw; 
        padding: 3vh 0vw;
        box-sizing: border-box;
    }

    .patrocinadores > :last-child {
        margin: 3vh 24vw;
        padding: 4vh 5vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logopatro {
        height: 12vh;
        width: 35vw;
    }

    .imgpatro {
        height: auto;
        width: 10vw;
    }





/* SECCIÓN GALERIA */
.hoverimg {
    display: grid;
    place-items: center;
    transition: 0.4s;
}

.galeria > :nth-child(2) > nav {
    margin: 5vh 0vw;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria > :nth-child(2) > nav > li {
    margin: 2vh 0vw;
    padding: 0;
    box-sizing: border-box;
}

    .galeria {
        margin: 0;
        padding: 5vh 5vw 10vh 5vw;
        box-sizing: border-box;
    }

    .actividadono {
        font-size: 3.5rem;
    }

    .galeria > :first-child {
        height: 1vh 0vw;
        display: flex;
        justify-content: center;
    }

    .imggaleria {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: center; 
    }

    .palabragal {
        color: rgb(242, 229, 0, 1);
        background-color: rgb(0, 0, 0, 0.6);
    }

    .comic {
        font-size: 3.5rem;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: center;
        display: flex;
        justify-content: center;
    }

    .hoverimg {
        width: 100%;
        max-width: 500px;
        height: 100px; 
        border-radius: 8px;
        overflow: hidden; 
    } 

    .opciones {
        display: none;
    }

    .galeria > :nth-child(2) > nav {
        margin: 1vh 0vw;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .galeria > :nth-child(2) > nav > li {
        margin: 2vh 0vw;
    }

    .activis {
        margin: 4vh 12vw 0vh 12vw;
        padding: 3vh 0vw;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        color: var(--color-secundario);
    }






/* FOOTER */
/* .imgfooter{
    height: 4vh;
    width: auto;
}

.footerimg{
    height: auto;
    width: 4vw;
}

.entradafooter {
    transform: skewX(-20deg);
}

footer {
    margin: 0;
    padding: 5vh 3vw 5vh 3vw;
    box-sizing: border-box;
    background-color: var(--color-secundario);
}

footer > :first-child {
    margin: 0;
    padding: 0vh 5vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

footer > :first-child > :first-child > :first-child > li {
    margin: 0;
    padding: 2vh 0vw 5vh 0vw;
    box-sizing: border-box;
}

footer > :first-child > :first-child > :last-child {
    margin: 0;
    padding: 5vh 0vw 5vh 0vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

footer > :first-child > :last-child {
    margin: 0;
    padding: 5vh 0vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > :first-child > :last-child > nav {
    margin: 0;
    padding: 3vh 0vw;
}

footer > :first-child > :last-child > :last-child {
    display: flex;
    justify-content: space-between;
    gap: 1.1vw;
}

footer > :first-child > :last-child > :last-child  > a{
   font-size: 2.5rem;
} */
}











/* MEDIA QUERIES */
@media screen and (max-width:480px) {
/* FUNCIONES GENERALES */
    img {
        height: 20vh;
        width: auto;
    }

    a {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .onomatopeya {
        font-size: 1.7rem;
    }






/* HEADER */
    header {
        margin: 0;
        padding: 2vh 3vw 0vh 3vw;
        box-sizing: border-box;
    }

    .botonheader {
        display: none;
    }

    .logo {
        height: 4vh;
        width: auto;
    }

    .hamburguesa {
        background: none;
        border: none;
        color: var(--color-principal);
        font-size: 28px;
        cursor: pointer;
        display: flex !important;
    }

    .batido {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: var(--color-secundario);
        transition: right 0.4s ease; 
    }

    .batido > .botonheader {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .batido > .botonheader > li {
        margin: 20px 0;
    }

    .batido.show {
        right: 0;
    }

    



/* SECCIÓN IMGÁGEN */
    .principal {
        height: 30vh;
    }

    .principalimg {
        height: 30vh;
        width: auto;
    }





/* SECCIÓN INFORMACIÓN */
    .informacion {
        margin: 0;
        padding: 5vh 5vw;
        box-sizing: border-box;
    }

    .informacion > :first-child > :first-child {
        margin: 0vh 20vw 0vh 5vw;
        padding: 3vh 5vw;
        box-sizing: border-box;
    }

    .informacion > :first-child > :last-child {
        margin: 2vh 5vw 0vh 20vw;
        padding: 3vh 5vw;
        box-sizing: border-box;
    }

    .informacion > :nth-child(2) {
        margin: 5vh 2vw;
        padding: 3vh 3vw;
        box-sizing: border-box;
    }

    .informacion > :last-child {
        margin: 3vh 0vw 0vh 0vw;
        padding: 2vh 5vw;
    }

    .entradaono {
        margin: 0vh 0vw 0vh 0vw;
        padding: 5vh 2vw;
        box-sizing: border-box;
        font-size: 2rem;
    }






/* SECCIÓN PATROCINADORES */
    .patrocinadores {
        margin: 0;
        padding: 3vh 3vw;
        box-sizing: border-box;
    }

    .patrocinadores > :first-child {
        margin: 5vh 5vw 5vh 5vw; 
        padding: 3vh 1vw;
    }

    .patrocinadores > :last-child {
        margin: 5vh 5vw;
        padding: 5vh 5vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logopatro {
        height: 10vh;
        width: 60vw;
    }

    .imgpatro {
        height: auto;
        width: 10vw;
    }






/* GALERIA */
    .galeria {
        margin: 0;
        padding: 5vh 5vw 10vh 5vw;
        box-sizing: border-box;
    }

    .actividadono {
        font-size: 3.5rem;
    }






/* SECCIÓN GALERIA */
    .galeria {
        margin: 0;
        padding: 5vh 5vw 10vh 5vw;
        box-sizing: border-box;
    }

    .actividadono {
        font-size: 3rem;
    }

    .galeria > :first-child {
        height: 1vh 0vw;
        display: flex;
        justify-content: center;
    }

    .imggaleria {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: center; 
    }

    .palabragal {
        color: rgb(242, 229, 0, 1);
        background-color: rgb(0, 0, 0, 0.6);
    }

    .comic {
        font-size: 2.7rem;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: center;
        display: flex;
        justify-content: center;
    }

    .hoverimg {
        width: 100%;
        max-width: 500px;
        height: 100px; 
        border-radius: 8px;
        overflow: hidden; 
    } 

    .opciones {
        display: none;
    }

    .galeria > :nth-child(2) > nav {
        margin: 1vh 0vw;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .galeria > :nth-child(2) > nav > li {
        margin: 2vh 0vw;
    }

    .activis {
        margin: 5vh 7vw;
        padding: 3vh 1vw;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        color: var(--color-secundario);
    }

    .activis > p {
        font-family: "cc-smash", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
    }






/* FOOTER */
    .imgfooter{
        height: 4vh;
        width: auto;
    }

    .footerimg{
        height: 8vh;
        width: auto;
    }

    footer > :first-child {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > :first-child > :first-child > :first-child > li {
        margin: 0;
        padding:  0vh 0vw 4vh 0vw;
        box-sizing: border-box;
    }

    .entradafooter {
        font-size: 3rem;
    }

    footer > :first-child > :first-child > :first-child > nav > li {
        margin: 0;
        padding: 2vh 0vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > :first-child > :first-child > :last-child {
        margin: 0;
        padding: 5vh 0vw 0vh 0vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > :first-child > :first-child > :last-child > li {
        margin: 0;
        padding: 1vh 0vw;
        box-sizing: border-box;
    }

    footer > :first-child > :last-child > :last-child > a {
       margin: 0;
       padding: 1vh 0vw;
       box-sizing: border-box; 
       font-size: 3rem;
    }
}