:root {
    --color-principal: #000000;
    --color-secundario: #F2E500;
    --color-tercero: #3B4970;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUNCIONES GENERALES */
img {
    height: 30vh;
    width: auto;
}

a {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--color-tercero);
    font-size: 2rem;
    display: inline-block;
}

a:hover {
    transform: scale(1.2);
}

p {
    font-size: 1.7rem;
    font-family: "classic-comic", sans-serif;
}

/* .black {
    font-family: "classic-comic", sans-serif;
} */

.onomatopeya {
    font-family: "cc-smash", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

li {
  list-style: none;
}

.fondofijo {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-image: url('../galeria/fondo/FONDO.png'); 
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.fondonegro {
    position: relative;
    z-index: 1; 
}





/* HEADER */
header {
    margin: 0;
    padding: 2vh 3vw 8vh 3vw;
    box-sizing: border-box;
    background-color: var(--color-secundario);
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    border-bottom: solid 7px #000000;
    z-index: 100; 
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div > :last-child {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 6vw;
}

.botonheader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1.2vw;
}

.logo {
    height: 6vh;
    width: auto;
}






/* SECCIÓN IMGÁGEN */
.principal {
    margin: 15vh 5vw 0vh 5vw;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 90vh;
    color: black;
    background: transparent;
}

.principalimg {
    height: 90vh;
    width: auto;
    transition: 0.4s;
}

.principalimg:hover {
    transform: rotate(-10deg) scale(1.1);
    transition: 0.4s;
    margin: 0 1vw 0 1vw;
}





/* SECCIÓN INFORMACIÓN */
.informacion {
    margin: 0;
    padding: 10vh 5vw 10vh 5vw;
    box-sizing: border-box;
    background: linear-gradient(var(--color-principal),var(--color-tercero));
    border-top: solid 7px var(--color-principal);
    border-bottom: solid 7px var(--color-principal);
}

.informacion > :first-child > :first-child {
    margin: 0vh 30vw 0vh 20vw;
    padding: 3vh 1vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-secundario);
    display: flex;
    justify-content: center;
}

.informacion > :first-child > :last-child {
    margin: 2vh 20vw 5vh 45vw;
    padding: 3vh 1vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-secundario);
}

.informacion > :nth-child(2) {
    margin: 10vh 2vw 5vh 2vw;
    padding: 5vh 3vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-secundario);
    display: flex;
    justify-content: center;
}

.informacion > :last-child {
    margin: 10vh 0vw 5vh 0vw;
    padding: 5vh 5vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.entradaono {
    margin: 0vh 0vw 0vh 0vw;
    padding: 5vh 2vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-principal);
    font-size: 3rem;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.7);
}





/* SECCIÓN PATROCINADORES */
.patrocinadores {
    margin: 0;
    padding: 10vh 3vw 10vh 3vw;
    box-sizing: border-box;
}

.patrocinadores > :first-child {
    margin: 10vh 20vw 5vh 2vw; 
    padding: 5vh 1vw;
    box-sizing: border-box;
    border: solid 7px var(--color-principal);
    background-color: var(--color-tercero);
    display: flex;
    justify-content: center;
    transform: skewX(-20deg); 
}

.patrocinadores > :last-child {
    margin: 5vh 10vw;
    padding: 7vh 1vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 2.5vw;
}

.logopatro {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid 6px var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 20vw;
}

.imgpatro {
    height: auto;
    width: 8vw;
}





/* SECCIÓN GALERIA */
.galeria {
    margin: 0;
    padding: 10vh 5vw 20vh 5vw;
    box-sizing: border-box;
    background: linear-gradient(var(--color-tercero),var(--color-principal));
    border-top: solid 7px var(--color-principal);
    border-bottom: solid 7px var(--color-principal);
}

.actividadono {
    color: var(--color-secundario);
    font-family: "cc-smash", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

.galeria > :first-child {
    margin: 0;
    padding: 0vh 0vw 10vh 0vw;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
}

.imggaleria {
    height: 45vh;
    width: auto;
    grid-area: 1 / 1;
}

.palabragal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1;
    color: rgb(242, 229, 0, 0);
    background-color: rgb(0, 0, 0, 0);
    transition: 0.8s;
}

.hoverimg {
    display: grid;
    place-items: center;
    transition: 0.4s;
}

.hoverimg:hover , .palabragal:hover {
    margin: 0vh 1vw;
    padding: 0;
    box-sizing: border-box;
    color: rgb(242, 229, 0, 1);
    background-color: rgb(0, 0, 0, 0.6);
    transition: background-color 0.8s;
}

.galeria > :last-child > nav {
    display: flex;
    justify-content: space-between;
}






/* FOOTER */
.imgfooter{
    height: 4vh;
    width: auto;
}

.footerimg{
    height: auto;
    width: 4vw;
}

.entradafooter {
    transform: skewX(-20deg);
}

.entradafooter:hover {
    transform: skewX(-20deg) scale(1.2);
}

footer {
    margin: 0;
    padding: 5vh 3vw 5vh 3vw;
    box-sizing: border-box;
    background-color: var(--color-secundario);
}

footer > :first-child {
    margin: 0;
    padding: 0vh 5vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

footer > :first-child > :first-child > :first-child > li {
    margin: 0;
    padding: 2vh 0vw 5vh 0vw;
    box-sizing: border-box;
}

footer > :first-child > :first-child > :last-child {
    margin: 0;
    padding: 5vh 0vw 5vh 0vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

footer > :first-child > :last-child {
    margin: 0;
    padding: 5vh 0vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > :first-child > :last-child > div {
    margin: 0;
    padding: 2vh 0vw;
}

footer > :first-child > :last-child > :last-child {
    display: flex;
    justify-content: space-between;
    gap: 1.1vw;
}

footer > :first-child > :last-child > :last-child  > a{
   font-size: 2.5rem;
}






/* MEDIA QUERIES */
@media screen and (max-width:480px) {
/* FUNCIONES GENERALES */
    img {
        height: 20vh;
        width: auto;
    }

    a {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .onomatopeya {
        font-size: 2rem;
    }






/* HEADER */
    header {
        margin: 0;
        padding: 2vh 3vw 0vh 3vw;
        box-sizing: border-box;
    }

    .botonheader {
        display: none;
    }

    .logo {
        height: 4vh;
        width: auto;
    }

    



/* SECCIÓN IMGÁGEN */
    .principal {
        height: 30vh;
    }

    .principalimg {
        height: 30vh;
        width: auto;
    }





/* SECCIÓN INFORMACIÓN */
    .informacion {
        margin: 0;
        padding: 5vh 5vw;
        box-sizing: border-box;
    }

    .informacion > :first-child > :first-child {
        margin: 0vh 20vw 0vh 5vw;
        padding: 3vh 5vw;
        box-sizing: border-box;
    }

    .informacion > :first-child > :last-child {
        margin: 2vh 5vw 0vh 20vw;
        padding: 3vh 5vw;
        box-sizing: border-box;
    }

    .informacion > :nth-child(2) {
        margin: 5vh 2vw;
        padding: 3vh 3vw;
        box-sizing: border-box;
    }

    .informacion > :last-child {
        margin: 3vh 0vw 0vh 0vw;
        padding: 2vh 5vw;
    }

    .entradaono {
        margin: 0vh 0vw 0vh 0vw;
        padding: 5vh 2vw;
        box-sizing: border-box;
        font-size: 2rem;
    }






/* SECCIÓN PATROCINADORES */
    .patrocinadores {
        margin: 0;
        padding: 3vh 3vw;
        box-sizing: border-box;
    }

    .patrocinadores > :first-child {
        margin: 5vh 5vw 5vh 5vw; 
        padding: 3vh 1vw;
    }

    .patrocinadores > :last-child {
        margin: 5vh 5vw;
        padding: 5vh 5vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logopatro {
        height: 10vh;
        width: 60vw;
    }

    .imgpatro {
        height: auto;
        width: 10vw;
    }






/* GALERIA */
    .galeria {
        margin: 0;
        padding: 5vh 5vw 10vh 5vw;
        box-sizing: border-box;
    }

    .actividadono {
        font-size: 3.5rem;
    }






/* FOOTER */
    .imgfooter{
        height: 4vh;
        width: auto;
    }

    .footerimg{
        height: 8vh;
        width: auto;
    }

    footer > :first-child {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > :first-child > :first-child > :first-child > li {
        margin: 0;
        padding:  0vh 0vw 4vh 0vw;
        box-sizing: border-box;
    }

    .entradafooter {
        font-size: 3rem;
    }

    footer > :first-child > :first-child > :first-child > nav > li {
        margin: 0;
        padding: 2vh 0vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > :first-child > :first-child > :last-child {
        margin: 0;
        padding: 5vh 0vw 0vh 0vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > :first-child > :first-child > :last-child > li {
        margin: 0;
        padding: 1vh 0vw;
        box-sizing: border-box;
    }

    footer > :first-child > :last-child > :last-child > a {
       margin: 0;
       padding: 1vh 0vw;
       box-sizing: border-box; 
       font-size: 3rem;
    }
}